body {
    background-color: #7bb2af;
    display :grid;
    grid-template-columns: 1000px auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header ."
    "subheader cv"
    "main main"
    "credit credit";
    margin-left: 0;
    margin-bottom: 0;
}

.presentation {
    color :aliceblue;
    position: relative;
    left: 140px;
}

h1 {
    font-size: 80px;
    font-family: 'Space Mono';
    grid-area: header;
}

.p1 {
    font-size: 70px;
    font-family: 'Space Mono';
    grid-area: subheader;
}

.p2 {
    font-size: 40px;
    font-family: 'Quicksand';
    grid-area: main;
}

.cvbox {
    margin-top: 10%;
    justify-self: start;
    grid-area: cv;
    display : grid;
    grid-template-columns: auto;
    grid-template-rows: 85px auto;
    grid-template-areas: 
    "icone texte";
}

.a1 {
    grid-area: icone;
}

.p3 {
    font-family: 'Space Mono';
    grid-area: texte;
    font-size: 30px;
    margin-left: 10px;
}

.credit {
    background-color: rgb(53, 48, 48);
    grid-area: credit;
}

.footertexte {
    color: aliceblue;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}