body {
    background-color: #7bb2af;
}

h1 {
    font-size: 80px;
    color :aliceblue;
    position: relative;
    top: 70px;
    left: 140px;
    font-family: 'Space Mono';
}

.p1 {
    font-size: 70px;
    color : aliceblue;
    position: relative;
    left: 140px;
    top: 20px;
    font-family: 'Space Mono';
}

.p2 {
    font-size: 40px;
    color : aliceblue;
    position: relative;
    left: 140px;
    font-family: 'Quicksand';
}