/* Body margin */

body {
    margin: 0;
}

.bodyindex {
    background-color: #7bb2af;
}

.bodyprofil {
    background-color: #FFFDD0;
}

/* menu header*/

.header {
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 20px;
    position: fixed;
    display: grid;
    background-color : rgba(36, 93, 131, 0.719);
    grid-template-columns: 100px;
    grid-template-rows: 100px 50px 50px 50px 70px 70px;
}

.logoheader {
    border-radius: 25px;
    background-color: rgba(14, 38, 54, 0.719);
}

.titleheader {
    color: antiquewhite;
    font-family: 'Space Mono';
    text-decoration: none;
    font-weight: bold;
    place-self: center;
}

.titleheader:hover {
    border-bottom: solid;
}

.picturelinkheader {
    margin-left: 25%;
}

/* Footer */

.credit {
    height: 200px;
    background-color: rgb(53, 48, 48);
}

.footertexte {
    color: aliceblue;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*index*/

.middle {
    display :grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px auto auto;
    grid-template-areas: 
    "title ."
    "subheader ."
    "main main"
    "cv cv";
}

.p1 {
    font-size: 70px;
    font-family: 'Space Mono';
    grid-area: subheader;
}

.p2 {
    font-size: 40px;
    font-family: 'Quicksand';
    grid-area: main;
    margin-top: 100px;
}

.cvbox {
    margin-top: 5%;
    justify-self: center;
    justify-items: center;
    grid-area: cv;
    display : grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 50px 30px;
}

.it1 {
    font-family: 'Space Mono';
    font-size: 30px;
    margin-top: 0px;
    font-weight: bold;
    color: antiquewhite;
}

.presentation {
    white-space: nowrap;
    color :aliceblue;
    margin-left: 140px
}

h1 {
    font-size: 80px;
    font-family: 'Space Mono';
    grid-area: title;
}

/* Profil*/

.titleprofil {
    white-space: nowrap;
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 60px;
}

.titleinfo {
    white-space: nowrap;
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 30px;
}

.logocontainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    text-align: center;
    font-weight: bold;
    font-family: "Quicksand";
}

.tright {
    text-align: right;
}

.middleprofil {
    display: grid;
    margin-left: 200px;
    grid-template-rows: repeat(4,150px auto);
    margin-right: 100px;
}

.descriptinfo {
    font-family: "Quicksand";
    font-size: 25px;
    padding-right: 10px;
}

.containerdescript {
    padding-left: 10px;
}

.rightsideinfo {
    padding-left: 10px;
    border-left: 2px solid #4e4e49;
}

.infocontainer {
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
}